body, html {
    margin: 0;
}

h1 {
    font-family: Arial;
    margin: 0;
}
.ruler {
    border: solid 1px;
    border-width: 1px 0 0 0;
    flex-grow: 1;
    margin-left: 15px;
}
header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container {
    margin: 2vw 2vw;
}

#map {
    width: 96vw;
    height: 60vh;
}

.widgets {
    display: flex;
    justify-content: space-between;

    margin-top: 15px;
}
.widgets > * {
    border: solid 1px;
    border-color:#CCC;
    width: 100%;
    padding: 15px;
}
.widgets > *:nth-child(2) {
    margin: 0 15px;
}

.map-container {
    position: relative;
}
.map-container button {
    position: absolute;
    z-index: 99;
    top: 5px;
    left: 5px;
    border:0;
    background: #FFF;
}
.map-container button:hover {
    color: blue;
    cursor: pointer;
}

#titles ul, #graphs ul {
    padding:0;
}
#titles ul li, #graphs ul li {
    list-style-type: none;
    padding: 10px 0;
}
#titles ul li:first-child, #graphs ul li:first-child {
    padding-top:0;
}
#titles ul li:hover {
    color: blue;
    cursor: pointer;
}
#word-cloud img {
    width: 100%;
}